{% for e in object_list %}
<div class="li stream_li" sid="{{ e.id }}">
    <div class="ayes">
        <div class="count">{{ e.count_ayes }}</div>
        {% if request.user.is_authenticated %}
        <a class="ay{% if e.count_user_ayes %} on{% endif %}" href="/ay/{{ e.id }}/">{% if e.count_user_ayes %}+{{e.count_user_ayes}}{% else %}Ay{% endif %}</a>
        {% else %}
        <a class="ay signin" href="/accounts/login/">Ay</a>
        {% endif %}
        
    </div>
    
    <div class="content{% if e.author.user == request.user %} editable{% endif %}">{{ e.content }}</div>
    
    {% if e.author.user == request.user %}
    <form class="wishform" action="/update/{{ e.id }}/" method="post">
        {{ e.edit_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="submit" />
        <a class="cancel" href="javascript:void(0)">cancel</a>
    </form>
    {% endif %}
    
    {% if e.status >= e.STATUS_READ %}
    <div class="status">
        <div class="label">{{ e.status_label }}</div>
        {% if e.response %}
        <div class="response">{{ e.response }}</div>
        {% endif %}
        <div class="c"></div>
    </div>
    {% endif %}
    
    {% if request.user.is_superuser %}
    <form class="responseform" action="/response/{{ e.id }}/" method="post">
        <div class="status_select">
            <label>status:</label>
            <a class="read{% if e.status == e.STATUS_READ %} on{% endif %}" href="javascript:void(0)">read</a>
            <a class="ongoing{% if e.status == e.STATUS_ONGOING %} on{% endif %}" href="javascript:void(0)">ongoing</a>
            <a class="done{% if e.status == e.STATUS_DONE %} on{% endif %}" href="javascript:void(0)">done</a>
        </div>
        {{ e.response_form.status }}
        {{ e.response_form.response }}
        {% csrf_token %}
        <div>
            <input type="submit" value="submit" />
            <a class="cancel" href="javascript:void(0)">cancel</a>
        </div>
    </form>
    {% endif %}
    
    <div class="meta">
        <span class="author" href="/user/{{ e.author.id }}/">{{ e.author.username }}</span>
        <span class="sp">-</span>
        <span class="time">{{ e.created|timesince }}</span>
        {% if e.count_negatives %}<span class="sp">-</span>
        <span class="ng">{{ e.count_negatives }} negatives</span>
        {% endif %}
        <span class="oprts">
            {% if request.user.is_authenticated %}
            <a class="negative{% if e.count_user_negatives %} on{% endif %}" href="/negative/{{ e.id }}/">{% if e.count_user_negatives %}-{{e.count_user_negatives}}{% else %}ng{% endif %}</a>
            {% else %}
            <a class="negative signin" href="/accounts/login/">ng</a>
            {% endif %}
            {% if request.user.is_superuser %}
            <a class="response" href="javascript:void(0)">response</a>
            {% endif %}
        </span>
    </div>
    
    <div class="c"></div>
</div>
{% endfor %}