<!DOCTYPE html>{% load nemo_tags %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="zh_cn" />
    <title>{% block title %}{% project_name %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nemo/c/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nemo/c/common.css?r=0.1.5" />
    {% if debug %}    
    <script src="{{ STATIC_URL }}nemo/s/jquery-1.7.1.min.js"></script>
    {% else %}    
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    {% endif %}
    <script type="text/javascript" src="{{ STATIC_URL }}nemo/s/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}nemo/s/rcp.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}nemo/s/rcp.django.js"></script>
    <script src="{{ STATIC_URL }}nemo/s/common.js?r=0.1.6"></script>
    <script>nemo.uri_root = "{% nemo_root %}"</script>
</head>

<body>
<div id="{% block page_id %}{% endblock %}" class="page">
    <div class="hd layout">
        <div class="inr layout">
            {% block logo %}<a class="logo" href="/">{% project_name %}</a><span class="logo_lt">&lt;</span>{% endblock %}
            <span class="page_title">{% block page_title %}{% endblock %}</span>
            
            <div class="stream_type">
                <a class="hot{% if 'hot' == params.stream_type %} on{% endif %}" href="{% nemo_root %}">hot</a>
                <a class="top{% if 'top' == params.stream_type %} on{% endif %}" href="{% nemo_root %}top/">top</a>
                <a class="all{% if 'all' == params.stream_type %} on{% endif %}" href="{% nemo_root %}all/">all</a>
                <a class="done{% if 'done' == params.stream_type %} on{% endif %}" href="{% nemo_root %}done/">done</a>
            </div>
            
            <div class="user_info">
                {% if request.user.is_authenticated %}
                <span>{{ request.user.username }}</span> | 
                <a href="/accounts/logout/?next_page=/nemo/&redirect_field_name=next_page">signout</a>
                {% else %}
                <a href="/accounts/login/?next=/nemo/&redirect_field_name=next">Signin</a>
                {% endif %}
            </div>
        </div>            
    </div>
    
    <div class="bd layout">
        <div class="inr layout">
            {% block bd %}
                <div class="main layout">
                    {% block main %}
                    {% endblock %}
                </div>
                <div class="sidebar layout">
                {% block sidebar %}
                    {% if request.user.is_authenticated %}
                    <section>
                        <h4>{{ request.user.username }}</h4>
                        <div class="votesleft"><span class="count">{% user_votes_left request.user %}</span> votes left</div>
                    </section> 
                    {% endif %}
                    
                    <section>
                        <h4>Help</h4>
                        <ul>
                        <li>Hover a wish, links for ay and negative will show up</li>
                        <li>Click "+" or "-" link quickly for times to change how many votes to use</li>
                        </ul>
                    </section>
                {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
    
</div>
</body>
</html>