{% load nemo_tags %}
{% for e in object_list %}
<div class="li stream_li" sid="{{ e.id }}">
    <div class="ayes">
        <div class="count">{{ e.ayes }}</div>
        {% if request.user.is_authenticated %}
        <a class="ay{% if e.count_user_ayes %} on{% endif %}" 
           href="{% nemo_root %}ay/{{ e.id }}/">{% if e.count_user_ayes %}+{{e.count_user_ayes}}{% else %}Ay{% endif %}</a>
        {% else %}
        <a class="ay signin" href="/accounts/login/">Ay</a>
        {% endif %}
        
    </div>
    
    <div class="content{% if e.author == request.user %} editable{% endif %}">{{ e.content }}</div>
    
    {% if e.author == request.user %}
    {% include 'nemo/wish_form.html' with object=e form=e.edit_form cancel_link=1 %}
    {% endif %}
    
    <div class="meta">
        <span class="author" href="{% nemo_root %}user/{{ e.author.id }}/">{{ e.author.username }}</span>
        <span class="sp">-</span>
        <span class="time">{{ e.created|timesince }}</span>
        {% if e.negatives %}<span class="sp">-</span>
        <span class="ng">{{ e.negatives }} negatives</span>
        {% endif %}
        <span class="oprts">
            {% if request.user.is_authenticated %}
            <a class="negative{% if e.count_user_negatives %} on{% endif %}" href="{% nemo_root %}negative/{{ e.id }}/">{% if e.count_user_negatives %}-{{e.count_user_negatives}}{% else %}ng{% endif %}</a>
            {% else %}
            <a class="negative signin" href="/accounts/login/">ng</a>
            {% endif %}
            {% if perms.wishlist.response_wish %}
            <a class="response" href="javascript:void(0)">response</a>
            {% endif %}
        </span>
    </div>
    
    {% if e.status >= e.STATUS_READ %}
    <div class="status">
        <div class="hd">
            <div class="label">{{ e.status_label }}</div>
            {% if e.status_by %}
            <div class="meta">{{ e.status_by.username }} | {{ e.status_stamp|date:'Y-m-d H:i' }}</div>
            {% endif %}
            <div class="c"></div>
        </div>
        {% if e.status_message %}
        <div class="message">{{ e.status_message }}</div>
        {% endif %}
        <div class="c"></div>
    </div>
    {% endif %}
    
    {% if perms.wishlist.response_wish %}
    {% include 'nemo/response_form.html' with object=e form=e.response_form cancel_link=1 %}
    {% endif %}
    
    <div class="c"></div>
</div>
{% endfor %}