@CHARSET "UTF-8";
/*
 * commons
 * ----------------
 */
.c {clear:both}

/*
 * components
 * ----------------
 */
.inr.layout {width:960px; margin:0 auto}
.main.layout {float:left; width:590px; border-right:1px solid #ccc; 
    padding:10px 10px 50px 0}
.sidebar.layout {float:right; width:350px;}

.hd.layout {height:44px; line-height:44px; border-bottom:1px solid #111;
    background:#333}
    .hd.layout a {text-decoration:none; color:#fff}

    .hd.layout .logo,
    .hd.layout .logo_lt,
    .hd.layout .page_title {display:block; float:left; color:#fff}

    .hd.layout .logo {padding:0 5px; font-size:20px}
    .hd.layout .page_title {color:#ccc; font-size:20px}

    .hd.layout .user_info {float:right; color:#ccc}
    .hd.layout .user_info a {font-size:14px; color:#ccc}

.wishform {margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #ccc}
.wishform label {display:none}    
.wishform textarea {width:584px; height:100px}

.stream .li {margin-bottom:10px; padding:5px 10px 10px 60px; border-bottom:1px solid #ccc}
    .stream .ayes {float:left; margin-left:-60px; width:50px}
    .stream .count {text-align:center}
    .stream .ay {display:none; margin:0 auto; width:40px; 
        border:1px solid #ccc; background:#eee; color:#666; 
        text-align:center; text-decoration:none}
        .stream .ay:hover {border-color:#666; color:#333}
        .stream .li:hover .ay,
        .stream .ay.on {display:block}
    .stream .meta {margin-top:10px; color:#777; font-size:14px}    
        .stream .meta a {color:#777; text-decoration:none}
            .stream .meta a:hover {color:#333; background:#eee}
            .stream .sp {color:#aaa}
    .stream .negative {display:none}
        .stream .li:hover .negative,
        .stream .negative.on {display:inline}
    .stream .oprts {margin-left:10px}
        .stream .oprts a {border:1px solid #ccc; padding:2px 8px}
            .stream .oprts a:hover {border-color:#666;}
        

/*
 * page specifics
 * ----------------
 */